<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="variants">
            <h2><span>Variants</span> {{variants.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{variants.productId}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{variants.title}}</span>
                </dd>
                <dt><span>Product Title</span></dt>
                <dd>
                    <span>{{variants.productTitle}}</span>
                </dd>
                <dt><span>Cost</span></dt>
                <dd>
                    <span>{{variants.cost}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{variants.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/variants', variants.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
