<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shopinfo">
            <h2><span>Shopinfo</span> {{shopinfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Api Key</span></dt>
                <dd>
                    <span>{{shopinfo.apiKey}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{shopinfo.password}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{shopinfo.url}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <span *ngFor="let user of shopinfo.users; let last = last">
                        {{user.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopinfo', shopinfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
